/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap"); */

.nav-buttons {
  margin-left: 60%;
}

/* Path: assets\css\style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  color: #d8d8d8;
}

button {
  font-size: 0.8rem;
  font-weight: 900;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  background-color: #0074d9;
}

.navbar {
  font-size: 16px;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  top: 0;
  left: 0;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: #000;
  transition: 0.4 ease;
}
.navbar.light .navbar-nav .nav-link,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover {
  color: darkblue;
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 0.7px;
  transition: 0.4s ease;
  cursor: pointer;
}

@media only screen and (max-width: 990px) {
  .nav-buttons {
    margin: 10px;
  }
  .nav-buttons ul {
    margin: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .nav-buttons ul .fa-solid {
    margin: 20px 5px 10px 20px;
  }
}

.navbar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#home {
  background-image: url("../img/hero/hero.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: right !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#home span {
  color: #0074d9;
}

#new .one img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#new .one {
  position: relative;
}

#new .one .details {
  position: absolute;
  top: 0;
  left: 0;
  color: #00498a;
  font-weight: bold;
  transition: 0.4s ease;
  opacity: 0.8;
  background-color: rgb(1, 1, 1);
  width: 100%;
  height: 100%;
}

#new .one .details:hover {
  background-color: #0074d9;
}

#new .one:nth-child(1) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

#new .one:nth-child(2) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

#new .one:nth-child(3) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

/* Produkty */

.product {
  cursor: pointer;
  margin-bottom: 2rem;
}
.product img {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}

.product .buy-btn {
  background-color: #0049a8;
  transform: translateY(50%);
  opacity: 0;
  transition: 0.3s all;
  color: white;
}
.product .buy-btn:hover {
  transform: translate(0px);
  opacity: 1;
}

hr {
  width: 30px;
  height: 3px !important;
  opacity: 1 !important;
  background-color: #0049a8 !important;
}

.star {
  padding: 10px 0;
}

.star i {
  font-size: 0.9rem;
  color: goldenrod;
}

#banner {
  background-image: url("../img/hero.png");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#banner h1 {
  color: #0049a8;
}

#banner button {
  background-color: #0049a8;
}

#banner button:hover {
  background-color: #6dabfc;
}

footer {
  background-color: #222222 !important;
}

footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem;
}

footer li {
  padding-bottom: 4px;
}

footer li a {
  font-size: 0.8rem;
  color: #999;
  text-decoration: none;
}

footer li a:hover {
  color: #fff;
}

footer p {
  color: #fff;
  font-size: 0.8rem;
}

footer .copyright img {
  width: 30%;
}

.logo {
  width: 66x;
  height: 49px;
}
.logo1 {
  width: 90px;
  height: 90px;
  overflow: hidden;
  object-fit: fill;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.single-product input:focus {
  outline: none;
}

.single-product .buy-btn {
  background-color: rgb(61, 118, 224);
  opacity: 1;
  transition: 0.4s all;
}

.single-product .buy-btn:hover {
  background-color: rgb(0, 37, 85);
}

/* Košík */

.cart table {
  width: 100%;
  border-collapse: collapse;
}

.cart .product-info {
  display: flex;
  flex-wrap: wrap;
}

.cart th {
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: rgb(0, 110, 255);
}

.cart td {
  padding: 10px 20px;
}

.cart td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.cart td a {
  color: rgb(61, 118, 224);
}

.cart .remove-btn {
  color: #0049a8 !important;
  text-decoration: none;
  font-size: 15px;
  background-color: white;
  border: none;
  width: 100%;
}

.cart .edit-btn {
  color: #0049a8;
  text-decoration: none;
  font-size: 15px;
  background-color: white;
  border: none;
}

.cart .product-info p {
  margin: 3px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
}

.cart-total table {
  width: 100%;
  max-width: 500px;
  border-top: 3px solid #0e4291;
}

td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  background-color: rgb(0, 37, 85);
  color: rgb(60, 167, 199);
}

/* Přihlášení */

#login-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(0, 135, 145, 0.8);
}

#login-form input {
  width: 50%;
  margin: 5px auto;
}

#login-form #login-btn {
  background-color: rgb(0, 37, 85);
  color: rgb(60, 167, 199);
}

#login-form #register-url {
  color: #0049a8;
}

/* Registrace */

#register-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
}

#register-form input {
  width: 50%;
  margin: 5px auto;
}

#register-form #register-btn {
  background-color: #0049a8;
  color: rgb(60, 167, 199);
}

#register-form #login-url {
  color: #0049a8;
}

/* Účet */

#account-form {
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
}

#account-form input {
  margin: 5px auto;
}

#account-form #change-pass-btn {
  color: #fff;
  background-color: #0049a8;
}

.account-info #orders-btn,
#logout-btn {
  color: #0049a8;
  text-decoration: none;
}

/* Objednávky */

.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders .product-info {
  display: flex;
  flex-wrap: wrap;
}

.orders th {
  /* text-align: left; */
  padding: 5px 10px;
  color: #fff;
  background-color: rgb(0, 110, 255);
}

.orders td {
  padding: 10px 20px;
}

.orders td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.orders .order-btn {
  color: #fff;
  background-color: #0049a8;
  text-decoration: none;
}

/* Přidat objednávku */

#checkout-form .checkout-small-element {
  display: inline-block;
  width: 48%;
  margin: 10px auto;
}

#checkout-form .checkout-large-element {
  width: 95%;
}

#checkout-form .checkout-btn-container {
  margin: 10px;
  text-align: right;
  margin-right: 40px;
}

#checkout-form #checkout-btn {
  color: #fff;
  background-color: #0049a8;
}

/* Kontaktní údaje */

#contact span {
  color: rgb(0, 110, 255);
}

.cart-quantity {
  background-color: rgb(0, 110, 255);
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  margin: 2px;
  font-size: 1rem;
}
